extends Layout

block content 
    .container
        h1 Schevene Singh
        ul 
            li I am #{age} years old
            li I was born in #{cityBorn}
            li I live in #{cityResiding}
            li I like to #{hobby}